/* styles/fonts.css */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900; /* Black */
  src: url('../assets/fonts/Nunito/Nunito-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700; /* Bold */
  src: url('../assets/fonts/Nunito/Nunito-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800; /* Extra Bold */
  src: url('../assets/fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300; /* Light */
  src: url('../assets/fonts/Nunito/Nunito-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500; /* Medium */
  src: url('../assets/fonts/Nunito/Nunito-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url('../assets/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600; /* Semi Bold */
  src: url('../assets/fonts/Nunito/Nunito-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400; /* Italic */
  src: url('../assets/fonts/Nunito/Nunito-Italic.ttf') format('truetype');
}

/* Clases de estilo para cada variante */
.nnf-black {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

.nnf-bold {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.nnf-extra-bold {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
}

.nnf-light {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

.nnf-medium {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}

.nnf-regular {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.nnf-semi-bold {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

.nnf-italic {
  font-family: 'Nunito', sans-serif;
  font-style: italic;
  font-weight: 400;
}

/* Colores primarios */
.prc{
    color: #3ecf8e;
}
.gb-prc{
    background-color: #3ecf8e;
}
.bg-fd{
    background-color: #fdfdfd;
}
.bg-fd-2{
    background-color: #f8f8f8;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #3ecf8e);
  }
  .bsg {
    filter: drop-shadow(0 0 0.5em #3ecf8e);
  }
.bg-galaxy{
    background-image: url('./assets/img/bg-galaxy.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
